@import "../../styles/global.scss";

@media (max-width: $breakpoint-tablet) {
   h2 {
      border-bottom: 0px solid black;
   }


   .project {
      border-bottom: 0px solid black;
      border-right : 0px solid black;
   }
}


.project {
   border-bottom: 1px solid black;
   border-right : 1px solid black;

   overflow: hidden;
   height   : 40vh;

   h2 {
      position: sticky;

      display        : flex;
      justify-content: center;
      z-index        : 1;
      padding        : 1rem;

      background-color   : white;
      // background-color: whitesmoke;
      border-bottom      : 1px solid black;

   }

   .hidden {
      max-height: 0vh;
      visibility: hidden;
      z-index   : 0;

      transition: max-height 0.5s, visibility 0.5s ease;
   }

   .visible {
      max-height: 50vh;
      visibility: visible;
      overflow  : scroll;
      z-index   : 0;

      transition: max-height 0.5s, visibility 0.5s ease;
   }

   p {
      padding            : 1rem;
      font-size          : $fontsize;
      line-height        : calc($fontsize * 1.2);
      // background-color: rgb(235, 233, 233);
      background-color   : white;
      // white-space: nowrap;

   }

   .left-box {
      overflow    : hidden;
      // border-right: 1px solid black;

   }

   .project-images {
      height  : 100%;
      overflow: hidden;

   }
}

.location {
   display              : grid;
   grid-template-columns: 1fr 2fr;

   height   : 60vh;

   .left-box {
      border-right: 1px solid black;
   }

   h2{
      grid-column: 1/4;
      position: sticky;
      position: -webkit-sticky;

      top: 20;

   }
}