@import "../../styles/global.scss";

.prominent-text {
   width : 100vw;
   padding: 10vh 0vw;
   // height: 90vh;

   display        : flex;
   justify-content: center;
   align-items    : center;

   background-color: white;
   border-top: 1px solid black;

   .text {
      max-width : 70vw;
      text-align: center;

      p {
         font-size  : $fontsize-mid;
         line-height: calc($fontsize-mid * 1.5);
         white-space: pre-line;

      }

      h3 {
         font-size    : $fontsize;
         margin-bottom: 1rem;
      }
   }
}

@media (max-width: $breakpoint-tablet) {

   .prominent-text {
   
      .text {
         max-width : 92vw;
      }
   }
}