@font-face {
   font-family: "ABCWhyte";
   src        : url('./fonts/ABCWhyte-Light-Trial.woff');

}

@font-face {
   font-family: "ABCWhyte-Italic";
   src        : url('./fonts/ABCWhyte-LightItalic-Trial.woff');
}

body{
   font-family: 'ABCWhyte';

   li:hover{
      font-family: "ABCWhyte-Italic";
   }

   button:hover{
      font-family: "ABCWhyte-Italic";
   }

   h2:hover{
      font-family: "ABCWhyte-Italic";
   }

}


