@import "../../styles/global.scss";



@media (max-width: $breakpoint-tablet) {
   nav {
      border-bottom: 1px solid black;

      div {
         display: block;

         // div {
         //    display        : flex;
         //    justify-content: space-around;

         // }

         .mobile-menu {
            position: relative;
            display        : flex;
            justify-content: space-between;
            z-index: 2;

            padding        : 1em;
            border-bottom  : 1px solid black;
            background-color: white;

            #logo{
               font-size: 20pt;
            }

            .menu-buttons{
               display: flex;
               gap: 1rem;
               
               li{
                  display: flex;
                  align-self: flex-start;
                  
                  svg{
                     align-self: flex-start;
                     margin-top: -0.1rem;
                  }
               }
            }
            
         }

         .mobile-menu-content {
            display      : block;
            z-index: 1;
            transform: translateY(-200px);
            
            background-color: white;
            border-bottom: 1px solid black;

            div {
               padding: 1em;

               display              : grid;
               grid-template-columns: 1fr 1fr 1fr;
               // justify-content: center;

               li {
                  display     : inline;
                  // justify-self: center;
               }
            }

            div:not(:last-child) {
               border-bottom: 1px solid black;
            }

            div:last-child {
               display              : grid;
               // grid-template-columns: 1fr 1fr;
            }
         }
      }
   }
}

@media (min-width: $breakpoint-tablet) {
   nav {
      background-color: white;

      #logo{
         font-size: 20pt;
      }

      .menu-top {
         border-bottom: 1px solid black;
      }

      .menu-bottom {
         border-top: 1px solid black;
         position: fixed;
         bottom: 0vh;

         width: 100%;
         background-color: white;

      }

      div {
         display        : flex;
         justify-content: space-between;
         padding        : 0.5em;

         div {
            display        : flex;
            justify-content: space-between;

            li {
               margin : 0em 1em;
               display: inline;
            }
         }
      }

      .lang{
         display: flex;
         align-items: flex-start;
         padding: 0;
      }
   }
}